{% extends 'base.html' %}
{% load static %}

{% block title %}
 Login
{% endblock title %}

{% block content %}
<style>
  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
  }

  .calculator-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
  }

  .section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }

  .btn-calculate {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-calculate:hover {
    background-color: #0056b3;
  }

  @media (max-width: 500px) {
    .calculator-container {
      padding: 20px;
    }

    .section-title {
      font-size: 22px;
    }
  }

  .forgot-text{
    margin-bottom: 10px;
  }

  .normal-text{
    margin-top:15px; 
  }

.login-text{
   color: #318cee;
  cursor: pointer; 
}
</style>

<section class="contact-section">
  <div class="calculator-container">
    <h1 class="section-title">Register Form</h1>

    <form method="POST" id="marksheetForm">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" required />
      </div>
 
      <button type="submit" class="btn-calculate">Register</button>
      <p class="normal-text">Already have an account? 
        <a href="{% url 'login' %}" class="login-text">login</a>
      </p>
    </form>
  </div>
</section>



{% endblock %}
